* {
    margin: 0;
    padding: 0;
   
}

a {
    text-decoration: none;
}

html {
    /* font-size: 62.5%; */
    font-family: "Inter",serif;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding: 1.7rem 28rem;
    box-shadow: 2px 1px 2px #eee;
}

.navbar-link{
    padding: 0 28px 0;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    color: #666;
}

#signup-btn{
    width: 15rem;
    height: 3.2rem;
    font-size: 23px;
    border-radius: 3px;
    background-color: #387ed1;
    margin: 2.5rem 0;
}

#signup-btn:hover{
    background-color: black;
    cursor: pointer;
}

.welcome-banner{
    padding-top: 0px;
    color: #5e5e5e;
}